:root {
    --bg-col-prim: rgb(156, 205, 248);
    --bg-col-sec: rgb(240, 248, 255);
    --bg-col-thd: rgb(240, 240, 255);
    --col-prim: black;
}

body {
    background-color: var(--bg-col-prim);
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    height: 100dvh;
    padding: 0 !important;
}

.navbar {
    background-color: var(--bg-col-prim);
    color: black;
}

@media all and (min-width:992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.main-container {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 50px;
    padding: 0px 20px;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    border-top-left-radius: 16px;
}

.themes-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    justify-content: center;
}

.title {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 30px 0;
}

.wrapper {
    margin-left: 3rem;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
}

.btn {
    display: inline;
    vertical-align: bottom;
}

.btn svg {
    margin-right: -2px;
    margin-bottom: 4px;
}

.nxt {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.themes-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(187, 250, 250);
    border-radius: 16px;
    position: relative;
    margin-top: 1rem;
    width: 618px;
    height: 347px;
    transition: 500ms ease-in;
}

.themes-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    border: 0;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
    overflow: hidden;
}

.themes-image.loaded img {
    opacity: 1;
}

.nsfw {
    filter: blur(10px);
 }

 .nuxt {
    z-index: 3;
    display: none;
    position: absolute;
    top: 45%;
    left: 35%;
    background-color: aqua;
    padding: 4px;
    border-radius: 4px;
}

.show {
    position: absolute;
    z-index: 3;
    display: flex;
    top: 45%;
    left: 35%;
    background-color: aqua;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.6;
    cursor: pointer;
    transition: display 900ms ease-in-out;
 }


.headline {
    margin-top: 20px;
}

.inside {
    display: flex;
    background-color: var(--bg-col-thd);
    border-radius: 16px;
    padding: 16px;
}

.inside ul {
    margin: 0;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.side-wrapper {
    padding-top: 20px;
}

.related {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--bg-col-thd);
    color: var(--col-prim);
    border-radius: 1rem;
    margin-bottom: 0.8rem;
    width: 300px;
    height: 124px;
    padding-left: 4px;
}

.related:hover{
    background-color: var(--bg-col-prim);
    border-radius: 1rem;
    transition: 200ms ease-in-out;
}

.rel-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4px;
    border: 0.8px solid var(--bg-col-sec);
    border-radius: 1rem;
}

.rel-image img {
    width: 220px;
    height: 124px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.rel-image.loaded img {
    opacity: 1;
}

.container-footer {
    background-color: #f0f8ff;
    padding: 1rem 2rem;
 }
